# External libraries (fetched by make deps)
extern/Pomme
extern/SDL
extern/SDL3*
extern/SDL3.framework

# External library cache
/cache

# Build directories
/build*/
/cmake-build*/
/dist/
/out/

# IDEs
.vs/
/.vscode
/.idea

# macOS metadata
.DS_Store
